* {
    font-family: 'Roboto';
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
    color: #363636;
}

.white {
    color: white;
}

h2 {
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    margin-bottom: 10px;
    color: #223f72;
}

.left {
    text-align: left;
    font-size: 36px;
}

.wrapper {
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

img {
    width: 30px;
    height: 30px;
}

.project-links img {
    width: 300px;
    height: 300px;
}

/* Navigation Section */
.navbar {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;
    color: #363636;
}

.navbar span {
    color: black;
    display: inline-block;
    padding: 8px 8px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.navbar ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0%;
}

.navbar li {
    float: right;
    background-color: white;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}

.navbar li a:hover {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}

.navbar a:hover {
    border: 1px solid black;
    padding: 5px;
}

/*Header Image*/
#me {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #214072;
}

#me img {
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

#me p {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

/* About Me Section */
#about-me {
    border-bottom: 1px solid black;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

.about-me-text {
    max-width: 65%;
}

.social-media {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 32px;
    margin-left: 5%;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 350px;
    float: right;
}

/* Certificates Section */
#certificates {
    max-width: 100%;
}

.courses {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

/* Projects Section*/
#projects {
    background-color: #214072;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.thumb {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-links img {
    width: 175px;
    height: 175px;
    padding-top: 15px;
    padding-bottom: 15px;

}

/* Conact Section */
#contact {
    text-align: right;
    height: 100px;
    letter-spacing: 1.5px;
}

/* Media queries */
@media  screen and (max-width: 1000px) {
    p {
        font-size: 12px;
        line-height: 15px;
    }
    
    .navbar, #contact {
        text-align: center;
    }

    .navbar a {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .courses {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {
    .navbar li  {
        text-align: center;
        float: none;
    }

    #me img {
        height: 300px;
        width: 300px;
    }
}